<!-- Page header -->
  <div class="sm:flex sm:justify-between sm:items-center mb-5">
  
      <!-- Left: Title -->
      <div class="mb-4 sm:mb-0">
          <h2 class="antialiased font-sans font-medium text-2xl text-gray-900 dark:text-white leading-8 m-0">Campaign Sources</h2>
      </div>
  
      <!-- Add card button -->
      <%= link_to "New source", new_campaign_source_path(@campaign), { data: {turbo_frame: "modal"}, class: "btn btn-primary"} %>
  
  </div>

  <!-- Filters -->
  <div class="mb-5">
      <ul class="list-none flex flex-wrap -m-1">
          <li class="m-1">
            <%= nav_link_to campaign_sources_path(@campaign), inactive_class: "inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-gray-200 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-400 transition", active_class: 'inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-transparent shadow-sm bg-gray-900 dark:bg-gray-100 text-white dark:text-indigo-600 transition' do %>
                All Sources
            <% end %>
          </li>
          <li class="m-1">
            <%= nav_link_to campaign_source_filters_path(@campaign), inactive_class: "inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-gray-200 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-slate-800 text-gray-500 dark:text-gray-400 transition", active_class: 'inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-transparent shadow-sm bg-gray-900 dark:bg-gray-100 text-white dark:text-indigo-600 transition' do %>
                Source Filters
            <% end %>
          </li>
      </ul>
  </div>
