<div>
  <div>
    <% if @campaign %>
      <%= render 'campaigns/campaign_header', campaign: @campaign %>
    <% end %>

  </div>

  <div class="mx-auto">
    <%= render 'subnav' %>

    <% if @sources.present? %>
      <%= render 'source_list' %>
    <% else %>
      <div class="text-center p-8">
        <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
      </div>
    <% end %>
  </div>
</div>
  
  
  
  