<%= render 'campaigns/header', campaign: @campaign %>
    
<div class="mx-auto mt-6">
  <div class="lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
    <div class="lg:col-span-12 ">
      <div class="mx-auto swiper-container ">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none ">
          <% if @campaign.campaign_fields.exists? %>

              <%= render 'table', fields: @campaign.campaign_fields %>
      
          <% else %>
            <ul role="list" class="swiper-wrapper flex overflow-y-hidden list-none grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
              <li data-controller="dropdown" class="overflow-hidden rounded-xl border border-gray-200 bg-white">
              <%= link_to new_campaign_campaign_field_path(@campaign) do %>
                <div class="flex items-center gap-x-4 border-b border-gray-900/5 hover:bg-gray-50 bg-white px-6 py-10">

                  <div class="absolute rounded-md bg-indigo-500 p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                  </div>
                    <div class="ml-16 text-md font-medium leading-6 text-gray-900">Add your first field</div>
                </div>
                <% end %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>