<%= render 'campaigns/header', campaign: @campaign_distribution.campaign %>

<div class="bg-gray-800 rounded-t-lg shadow py-4 mt-6">
      <%= render 'distributions/header' %>
</div>



<div class="flex flex-wrap">
  <div class="w-full">
    <div class="bg-gray-800 rounded-b-lg">
     
      <%= render "form" %>

    </div>
  </div>
</div>
