<%= render 'header', vertical: @vertical %>

<main class="flex-1 overflow-y-auto">
  <!-- Primary column -->
  <section aria-labelledby="primary-heading" class="flex h-full min-w-0 flex-1 flex-col lg:order-last">

    <div class="mt-6">
      
      <div class="overflow-hidden bg-white shadow sm:rounded-lg px-4 py-5 sm:px-6 ">

      <%= render "form", vertical: @vertical %>

      </div>
    </div>

  </section>

</main>

