<div class="card-panel">
  <div>
    <% if @campaign %>
      <%= render 'campaigns/header', campaign: @campaign %>
      <%= render 'subnav' %>
    <% end %>
  </div>

  <div class="card-inner pt-0">
    <% if @distributions.present? %>
      <%= render 'distribution_list' %>
    <% else %>
      <div class="text-center p-8">
        <%= image_tag "empty.svg", class: "w-1/3 mb-4 m-auto" %>
      </div>
    <% end %>
  </div>
</div>
  
  
  
  