<!-- Secondary navigation -->
<nav class="flex overflow-x-auto border-b border-white/10 py-4">
    <ul role="list" class="list-none flex min-w-full flex-none gap-x-6 px-4 text-sm font-semibold leading-6 text-gray-400 sm:px-6 lg:px-8">
        <li>
            <a href="#" class="text-indigo-400">Overview</a>
        </li>
        <li>
            <a href="#" class="">Activity</a>
        </li>
        <li>
            <%= link_to "Settings", edit_company_path %>
        </li>
        <li>
            <a href="#" class="">Collaborators</a>
        </li>
        <li>
            <a href="#" class="">Notifications</a>
        </li>
    </ul>
</nav>