<div>
  <%= render 'header', company: @company %>
    
    <div class="mx-auto pb-6 lg:pb-16">
      <div>
        <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

         <div class="lg:col-span-12">

            <div>
              <%= render 'contacts', company: @company %>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>




