.nav-link {
  @apply block no-underline text-gray-700 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-400 px-2 py-1 text-sm font-normal whitespace-nowrap;
  line-height: 30px;

  &.active {
    @apply font-semibold text-indigo-400;
  }

  &:focus {
    @apply text-slate-900;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    @apply inline-flex my-0 mr-3;
    line-height: 40px;
  }
}

.dropdown-menu {
  min-width: 100%;

  @screen lg {
    min-width: 200px;
  }
}
