<div class="card-panel">
  <div>
    <%= render 'campaigns/campaign_header', campaign: @campaign %>

   

  </div>

  <div class="card-inner pt-6">
    <%= render 'form', campaign: @campaign %>
  </div>
</div>
  
  
  
  

           






