<%= render 'header', campaign: @campaign %>

<div class="mx-auto  mt-6">
  <div class="lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
    <div class="lg:col-span-12">
      <!--- START CAMPAIGN SETTINGS --->
      <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8 bg-white rounded-lg shadow">

        <%= render 'form', campaign: @campaign %>
      </div>
      <!--- END CAMPAIGN SETTINGS --->
    </div>
  </div>
</div>

