<%= render 'campaigns/header', campaign: @field.campaign %>

<div class="bg-gray-800 rounded-t-lg shadow py-4 mt-6">
      <%= render 'campaign_fields/header', field: @field %>
</div>



<div class="flex flex-wrap">
  <div class="w-full">
    <div class="bg-gray-800 rounded-b-lg">
     
      <%= render "form", field: @field %>

    </div>
  </div>
</div>
