<%= render 'campaigns/header', campaign: @field.campaign %>

    
<div class="bg-gray-800 rounded-lg shadow py-4 mt-6">
    <%= render 'campaign_fields/header', field: @field %>
    
  <div class="lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
    <div class="lg:col-span-12 ">
      <header>
        <!-- Heading -->
        <div class="flex flex-col items-start justify-between gap-x-8 gap-y-4 px-4 py-4 sm:flex-row sm:items-center sm:px-6 lg:px-8 border-b border-white/10">
          <div>
            <div class="flex items-center gap-x-3">
              <h1 class="flex gap-x-3 text-base leading-7">
                <span class="font-semibold text-white">Create a new validation</span>
              </h1>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>



  <div class="flex flex-wrap">
    <div class="w-full">
      <div class="bg-gray-800 rounded-b-lg">
      
        <%= render "form" %>

      </div>
    </div>
  </div>
</div>